@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about ASP.NET MVC DONT visit
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                If you have any questions about ASP.NET MVC visit
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
            </p>
        </div>
    </section>
}
    <h3>Type a mail!</h3>
    <form id="mail" method="post" action="About">
    <textarea rows="20" cols="50"></textarea>
    <input id="sendMail" type="submit" />
    </form>

    @Html.ActionLink("something", "something");

    <h3>Add a receiver for the mail!</h3>
    <form id="addUser" method="post" action="About">
    <ol>
        <li><p>Voornaam </p><input  id="Name" type="text" /></li>
        <li><p>Achternaam </p><input id="Achternaam" type="text" /></li>
    </ol>
    <input id="regUser" type="submit" />
    </form>